svg {
  box-sizing: unset;
}

/** Salt CSS Variables **/
:root {
  /** salt-colors **/
  --salt-color-highlight: #0470E6;
  --salt-color-text: #1E1715;
  --salt-color-sub-text: #8C8C8C;
  --salt-color-background: #f7f9fa;
  --salt-color-sub-background: #FFFFFF;

  /* salt-text-styles */
  --salt-text-style-main-font-size: 16px;
  --salt-text-style-main-line-height: normal;
  --salt-text-style-sub-font-size: 12px;
  --salt-text-style-sub-line-height: normal;
  --salt-text-style-paragraph-font-size: 16px;
  --salt-text-style-paragraph-line-height: 1.5em;

  /* salt-dimens */
  --salt-dimen-corner: 12px;
  --salt-dimen-dialog-corner: 20px;
  --salt-dimen-outer-horizontal-padding: 16px;
  --salt-dimen-inner-horizontal-padding: 16px;
  --salt-dimen-outer-vertical-padding: 8px;
  --salt-dimen-inner-vertical-padding: 12px;
  --salt-dimen-content-padding: 12px;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    /** salt-colors **/
    --salt-color-highlight: #1478C8;
    --salt-color-text: #EBEEF1;
    --salt-color-sub-text: #E1E6EB;
    --salt-color-background: #0C0C0C;
    --salt-color-sub-background: #191919;
  }
}